---
layout: null
sitemap: false
---

//$brand-colour: #35d69b;
$brand-colour: #0085ff;
$nav-header-height: 60px;
$nav-background-color: #f5f5f5;
$nav-width: 210px;

$space: 20px;

$mobile-break: 700px;

@import "mixins";
@import "main";
@import "borland";
@import "monaki";

a.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $nav-background-color;
  font-weight: 100;

  strong {
    font-weight: 600;
  }

  img {
    margin-right: 0;
  }
}

.left-docs > div[class*="wistia"] {
  margin-bottom: 1em;
}
